<div id="<%= dom_id profile %>">
  <p>
    <strong>Role:</strong>
    <%= profile.role %>
  </p>

  <p>
    <strong>Real name:</strong>
    <%= profile.real_name %>
  </p>

  <p>
    <strong>Pet name:</strong>
    <%= profile.pet_name %>
  </p>

  <p>
    <strong>Telephone number:</strong>
    <%= profile.telephone_number %>
  </p>

  <p>
    <strong>Prefecture:</strong>
    <%= profile.prefecture %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= profile.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

  <p>
    <strong>Years of experience:</strong>
    <%= profile.years_of_experience %>
  </p>

  <p>
    <strong>Racket:</strong>
    <%= profile.racket %>
  </p>

  <p>
    <strong>Affiliation:</strong>
    <%= profile.affiliation %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
