<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= tournament.event_date %>
  </p>

  <p>
    <strong>Registeration time:</strong>
    <%= tournament.registeration_time %>
  </p>

  <p>
    <strong>Venue name:</strong>
    <%= tournament.venue_name %>
  </p>

  <p>
    <strong>No of courts:</strong>
    <%= tournament.no_of_courts %>
  </p>

  <p>
    <strong>Organization name:</strong>
    <%= tournament.organization_name %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= tournament.payment_method %>
  </p>

  <p>
    <strong>Match start time:</strong>
    <%= tournament.match_start_time %>
  </p>

  <p>
    <strong>Match end time:</strong>
    <%= tournament.match_end_time %>
  </p>

  <p>
    <strong>Venue address:</strong>
    <%= tournament.venue_address %>
  </p>

  <p>
    <strong>Match overview:</strong>
    <%= tournament.match_overview %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= tournament.organizer %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= tournament.administrator %>
  </p>

  <p>
    <strong>Sponsor:</strong>
    <%= tournament.sponsor %>
  </p>

  <p>
    <strong>Event category:</strong>
    <%= tournament.event_category %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= tournament.days %>
  </p>

  <p>
    <strong>Reception period:</strong>
    <%= tournament.reception_period %>
  </p>

  <p>
    <strong>Competition format:</strong>
    <%= tournament.competition_format %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= tournament.capacity %>
  </p>

  <p>
    <strong>Competition rules:</strong>
    <%= tournament.competition_rules %>
  </p>

  <p>
    <strong>Ball type:</strong>
    <%= tournament.ball_type %>
  </p>

  <p>
    <strong>Participation eligibility:</strong>
    <%= tournament.participation_eligibility %>
  </p>

  <p>
    <strong>Payment method for participant:</strong>
    <%= tournament.payment_method_for_participant %>
  </p>

  <p>
    <strong>Application method:</strong>
    <%= tournament.application_method %>
  </p>

  <p>
    <strong>Application deadline:</strong>
    <%= tournament.application_deadline %>
  </p>

  <p>
    <strong>Pairing selection method:</strong>
    <%= tournament.pairing_selection_method %>
  </p>

  <p>
    <strong>Award details:</strong>
    <%= tournament.award_details %>
  </p>

  <p>
    <strong>Participation qualification:</strong>
    <%= tournament.participation_qualification %>
  </p>

  <p>
    <strong>Presence of member changes:</strong>
    <%= tournament.presence_of_member_changes %>
  </p>

  <p>
    <strong>Entry in multiple events:</strong>
    <%= tournament.entry_in_multiple_events %>
  </p>

  <p>
    <strong>Cancellation after application:</strong>
    <%= tournament.cancellation_after_application %>
  </p>

  <p>
    <strong>Participation fee:</strong>
    <%= tournament.participation_fee %>
  </p>

  <p>
    <strong>Announcements:</strong>
    <%= tournament.announcements %>
  </p>

  <p>
    <strong>Organizers url:</strong>
    <%= tournament.organizers_url %>
  </p>

  <p>
    <strong>Inquiry contact information:</strong>
    <%= tournament.inquiry_contact_information %>
  </p>

  <p>
    <strong>Notes for organizers:</strong>
    <%= tournament.notes_for_organizers %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tournament.user_id %>
  </p>

</div>
