<h1><%= @tournament_table.name %> - League Table</h1>

<%= form_with url: league_select_players_tournament_table_path(@tournament_table), method: :post, local: true do %>
  <table style="width: 100%; border-collapse: collapse; border: 1px solid black;" data-size="<%= @tournament_table.size %>" data-players="<%= @players_options.to_json %>">
    <thead>
      <tr>
        <th style="border: 1px solid black; padding: 8px;">Player</th>
        <% @tournament_table.size.times do |index| %>
          <th style="border: 1px solid black; padding: 8px;">
            <%= select_tag "selected_players[#{index}]",
                options_for_select(@players_options),
                data: { index: index },
                class: "player-select" %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tournament_table.size.times do |row_index| %>
        <tr>
          
          <th style="border: 1px solid black; padding: 8px;" class="player-name" data-index="<%= row_index %>">
          </th>
          <% @tournament_table.size.times do %>
            <td style="border: 1px solid black; padding: 8px;">
              <%= select_tag "match_numbers[]", options_for_select((1..@tournament_table.size*@tournament_table.size).to_a) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Save Selections" %>
<% end %>

<%= javascript_include_tag 'tournament_tables' %>
