<h1><%= @tournament_table.name %></h1>

<p>
  <strong>Table Type:</strong>
  <%= @tournament_table.table_type.humanize %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @tournament_table.tournament.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tournament_table.tournament_category.category_type %>
</p>

<p>
  <strong>Division:</strong>
  <%= @tournament_table.tournament_division.division %>
</p>

<p>
  <strong>Size:</strong>
  <%= @tournament_table.size %>
</p>

<% if @tournament_table.tournament? %>
  <p>
    <strong>Bracket Direction:</strong>
    <%= @tournament_table.bracket_direction.humanize %>
  </p>
<% end %>

<h2>Assigned Players</h2>
<% if @tournament_table.tournament_players.any? %>
  <ul>
    <% @tournament_table.tournament_players.each do |player| %>
      <li><%= player.player.full_name %> (<%= player.status %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No players assigned yet.</p>
<% end %>

<%= link_to 'Edit Table', edit_tournament_table_path(@tournament_table), class: 'btn btn-primary' %>
<%= link_to 'Back to List', tournament_tables_path, class: 'btn btn-secondary' %>
